.search-form {
  display: flex;
}

.search-form_main {
  width: 75%;
}

.search-form_input {
  box-sizing: border-box;
  background: rgba(0,0,0, 0.1);
  border-radius: 4px;
  font-size: 1.4em;
  border: none;
  height: 55px;
  padding: 15px;
  width: 100%;
}

.search-form_input:focus {
  box-shadow: inset 0 0 0 2px #95c0ee;
  outline: none;
}

.search-form_switch {
  margin-left: 10px;
  display: flex;
  width: 25%;
}

.search-form_switch_item {
  border: 1px solid rgba(0,0,0, 0.3);
  background: rgba(0,0,0, 0.1);
  color: #AAA;
  cursor: pointer;
  box-sizing: border-box;
  border-right: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 55px;
  height: 55px;
  width: 50%;
}

.search-form_switch_item:first-child {
  border-radius: 4px 0 0 4px;
}

.search-form_switch_item:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #888;
}

.search-form_switch_item.-active {
  background-color: #FFF;
  cursor: default;
  color: #000;
}

.search-form_switch_item input {
  position: absolute;
  top: -100px;
}
