.search-form {
  display: flex;
}

.search-form_main {
  width: 80%;
}

.search-form_input {
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.search-form_switch {
  margin-left: 10px;
  display: flex;
  width: 20%;
}

.search-form_switch_item {
  border: 1px solid #888;
  border-right: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  width: 50%;
}

.search-form_switch_item:first-child {
  border-radius: 4px 0 0 4px;
}

.search-form_switch_item:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #888;
}

.search-form_switch_item.-active {
  background-color: yellow;
}

.search-form_switch_item input {
  position: absolute;
  top: -100px;
}
